.menu-exit {
  opacity: 0;
  transform: translateX(-100%);
}

.backgroundMenuShadow{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  backdrop-filter: blur(2px);
  z-index: 10;
}

.menuStyle{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  max-width: 1024px;
  background-color: white;
  z-index: 999;
  box-shadow: 0 0 30px rgba(0,0,0,.4);
  display: flex;
  flex-direction: column;
  color: black;
}

.closeMenuButton{
  align-self: flex-end;
  margin: 20px;
  font-size: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.listaMenuMain{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 140px;
}


.listaSubMenu{
  padding: 10px 10px;
  height: 45px;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.listadoItinerariosSubMenu{
  list-style: none;
  margin: 0;
  padding: 0px 30px;
  flex: 1;
  overflow-y: auto;
  color: black;
}

.itinerariosStyleList{
  margin-top: 10px;
  font-size: 16px;

}



@media (min-width: 820px){

  .menuStyle{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 45vw;
    max-width: 1024px;
    background-color: white;
    z-index: 999;
    box-shadow: 0 0 30px rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
  }

  .itinerariosStyleList{
    padding: 8px 0px;
    font-size: 16px;
  }

  .listaSubMenu{
    padding: 15px 30px;
    height: 50px;
    font-size: 24px;
  }

  .listaMenuMain{
    width: 200px;
  }

}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.menu-fade-out {
  animation: fadeOutLeft 0.5s ease forwards;
}
                    