    .beneficiosContainerHero{
        display: flex;
        width: 100%;
        height: 80vh;
        flex-direction: column;
        background-size: cover;
        align-items: center;
        position: relative;
        top: -60px;
        background-position: 50%;
        padding-bottom: 10vh;
    }

    .itinerariosImagenHero{
        position: relative;
        top: 100px;
        width: 280px;
        display: flex;
        justify-self: center;
    }

    .stepsContainerStyleHero{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 25vh;
    }

    .itinerarioCardStyleContainer{
        background-color: rgb(0,0,0,0.01);
        color: white;
        width: 180px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


 @media (min-width: 380px){

    .beneficiosContainerHero{
      height: 100vh;
    }

    .itinerariosImagenHero{
      width: 350px;
    }

    .stepsContainerStyleHero{
        margin-top: 40vh;
    }

    .itinerarioCardStyleContainer{
      width: 245px;
    }

}

@media (min-width: 500px){
    
    .itinerariosImagenHero {
        width: 420px;
        top: 200px;
    }

    .itinerarioCardStyleContainer{
      width: 280px;
      justify-content: space-evenly;
    }

}

@media (min-width: 1000px) {

    .itinerariosImagenHero {
        width: 720px;
    }

    .stepsContainerStyleHero{
        margin-top: 40vh;
    }

    .itinerarioCardStyleContainer {
        width: 250px;
        justify-content: space-evenly;
    }
}


@media (min-width: 1500px) {

    .itinerariosImagenHero {
        width: 1020px;
    }

    .stepsContainerStyleHero{
        margin-top: 38vh;
    }

    .itinerarioCardStyleContainer {
        width: 280px;
        justify-content: space-evenly;
    }

}