.hero {
  position: relative;
  width: 100%;
  height: 100vh;                 /* phones */
  overflow: hidden;
  top: -60px;
}

@media (min-width: 740px) {
  .hero { height: 100vh; }       /* tablets & desktop (>=1200px stays 80vh) */
}

/* Image fills and covers the hero */
.heroImg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--bgPos, 50% 50%);
  display: block;
}

/* Optional overlay for readability */
.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: linear-gradient(to top, rgba(0,0,0,.45), rgba(0,0,0,.15));
}

/* Centered content */
.content {
  position: relative;
  z-index: 1;
  height: 82%;
  width: min(1200px, 92vw);
  margin: 0 auto;
  display: grid;
  align-content: end;
  justify-items: center;
  gap: clamp(0.6rem, 0.7rem, 1rem);
  padding: clamp(1rem, 4vw, 2.5rem);
  color: #fff;
  text-align: center;
}

.bigTitle{
    min-width: 180px;
    max-width: 240px;
}

@media (min-width: 600px) {
  .content {
    justify-items: center;
    text-align: center;
    gap: clamp(1.2rem, 1.3rem, 1.4rem);
  }

  .bigTitle{
    min-width: 380px;
    max-width: 450px;
  }
}

@media (min-width: 1024px) {
  .content {
    gap: 0.5rem;
    padding: 3rem 2rem;
  }

  .bigTitle{
    min-width: 420px;
    max-width: 500px;
  }
}

/* Typography */
.title { 
  font-size: clamp(1.4rem, 1.8rem, 1.9rem); 
  line-height: 1.1; 
  margin: 0;
  font-weight: 300;
  font-family: BigCaslon;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.subtitle { 
  font-size: clamp(1rem, 1.1rem, 1.2rem); 
  margin: 0; 
  opacity: .95;
  font-weight: 300;
  font-family: nohemi;
  line-height: 1.3;
  color: #f0f0f0;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.copy { 
  max-width: 65ch; 
  font-size: clamp(.95rem, .7vw + .8rem, 1.2rem); 
  margin: .25rem 0 0;
}


.buttonCATcaracteristicas{
    background: #D8AA3E;
    background: linear-gradient(90deg,rgba(216, 170, 62, 1) 0%, rgba(232, 202, 110, 1) 12%, rgba(249, 231, 160, 1) 28%, rgba(236, 211, 124, 1) 50%, rgba(223, 180, 78, 1) 63%, rgba(217, 171, 62, 1) 100%);
    color: #290f04;
    border: 1px solid #290f04;
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: nohemi;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
    text-decoration: none;
    justify-self: center;
    text-align: center;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    min-width: 160px;
    box-shadow: 0 4px 15px rgba(72 34 21, 0.3);
    text-transform: uppercase;
}

.buttonCATcaracteristicas:hover {
  background: linear-gradient(90deg,
  rgba(173, 136, 45, 1) 0%,
  rgba(193, 166, 90, 1) 12%,
  rgba(217, 195, 130, 1) 28%,
  rgba(200, 175, 98, 1) 50%,
  rgba(179, 144, 56, 1) 63%,
  rgba(170, 134, 46, 1) 100%
);
    transform: translateY(-2px);
    text-transform: uppercase;
}



