.beneficiosContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.nuestrosPaquetesTitle{
  color: white;
  font-family: nohemi;
  font-size: 20px;
  text-align: center;
}

.buttonCATcaracteristicas{
    background: #D8AA3E;
    background: linear-gradient(90deg,rgba(216, 170, 62, 1) 0%, rgba(232, 202, 110, 1) 12%, rgba(249, 231, 160, 1) 28%, rgba(236, 211, 124, 1) 50%, rgba(223, 180, 78, 1) 63%, rgba(217, 171, 62, 1) 100%);
    color: #290f04;
    border: none;
    padding: 10px;
    margin: 0px 2px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
    text-decoration: none;
    text-transform: uppercase;
}

@media (max-width: 500px){
  .cantidadDias{
    align-self: center;
  }
}

.contenidoBeneficiosItinerariosItinerarios{
    width: calc(100% - 20%);
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    align-self: end;
    padding: 10px;
    margin-bottom: 10vh;
    gap: 5px;
    background: rgba(255, 255, 255, 0.05); 
    border-radius: 16px;
    grid-column: 1;
    grid-row: 1;
}

.beneficiosH2ySpan{
  text-transform: uppercase;
  padding-bottom: 10px;
}

.titlePlusSubtitle{
  text-transform: uppercase;
  padding-bottom: 10px;
  justify-items: center;
  text-align: center;
}

.titlePlusSubtitle h2{
  font-size: 28px;
}


.beneficioImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 1;
  grid-row: 1;
  z-index: 0;
}

.reverseClassText{
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.textoBeneficiosResponsive{
  font-size: 14px;
}

@media (max-width: 419.90px){
    .reverseClassText{
    align-content: center;
    text-align: center;
  }

  .cantidadDias{
    align-self: center;
    align-content: center;
    text-align: center;
  }

  .buttonCATcaracteristicas{
    text-align: center;
  }
}

@media (min-width: 420px){

  .contenidoBeneficiosItinerariosItinerarios{
    width: 300px;
    padding: 15px;
    justify-self: end;
    margin-right: 10%;
    margin-bottom: 8vh;
  }



  .buttonCATcaracteristicas{
    font-size: 14px;
  }

  .textoBeneficiosResponsive{
    font-size: 16px;  
  }

}

@media only screen and (min-width: 720px){

  
  .beneficiosContainer{
    height: 60vh;
  }

  .textoBeneficiosResponsive{
    font-size: 18px;  
  }

  .contenidoBeneficiosItinerariosItinerarios{
    width: 350px;
    padding: 20px;
    justify-self: end;
    align-self: center;
    margin-right: 5%;
    margin-bottom: 0;
  }

  .leftItinerario{
    justify-self: start;
    align-self: center;
    margin-left: 5%;
    margin-right: 0;
    align-items: center;
  }

}

@media only screen and (min-width: 920px){
  
  .beneficiosContainer{
    height: 75vh;
    max-height: 75vh;
  } 

  .contenidoBeneficiosItinerariosItinerarios{
    width: 400px;
    justify-self: end;
    margin-right: 8%;
  }

  .leftItinerario{
    justify-self: start;
    margin-left: 8%;
    margin-right: 0;
  }

}

@media only screen and (min-width: 1220px){

  .contenidoBeneficiosItinerariosItinerarios{
    width: 420px;
    justify-self: end;
    margin-right: 12%;
  }

  .leftItinerario{
    justify-self: start;
    margin-left: 12%;
    margin-right: 0;
  }

}




.buttonNegro{
  border: 1px solid white;
  background: rgb(17,17,17);
  color: white;
}