.cardContainer {
  display: flex;
  width: 100%;
  height: 85vh;
  box-sizing: border-box; 
  overflow: hidden; 
  align-items: stretch;
}

.cardContainer.reverse {
  flex-direction: row-reverse;
}

.cardText {
    flex: 1; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    text-align: left; 
}

.cardContenidoStyle{
  width: 80%;
  align-self: center;
}

.cardContainerh2{
  font-size: 24px;
  line-height: 1.2;
  font-family: 'nohemi';
  text-align: left;
  margin: 0;
}
.cardContainerP{
  font-family: 'nohemi';
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 1.2;
  margin-top: 10px;
}

.cardText button {
  background: #482215;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cardText button:hover {
    background-color: #f40612; 
}

.cardImage {
  flex: 1; 
  position: relative; 
  overflow: hidden;
}

.cardImage img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block;
}


@media (max-width: 768px) {
    .cardContainer,
    .cardContainer.reverse {
        flex-direction: column-reverse;
        min-height: 75vh; 
    }

    .cardText {
        padding: 30px 20px; 
        align-items: center;
        text-align: center;
    }

    .cardText p {
        font-size: 1em; 
    }

    .cardImage {
        height: 300px;
    }
}

@media (min-width: 920px) {

    .cardContenidoStyle{
    width: 50%;
    align-self: center;
    }

}

@media (min-width: 1020px) {

    .cardContenidoStyle{
    width: 60%;
    }

}


.buttonCATcaracteristicas{
    background: #D8AA3E;
    background: linear-gradient(90deg,rgba(216, 170, 62, 1) 0%, rgba(232, 202, 110, 1) 12%, rgba(249, 231, 160, 1) 28%, rgba(236, 211, 124, 1) 50%, rgba(223, 180, 78, 1) 63%, rgba(217, 171, 62, 1) 100%);
    color: #290f04;
    border: none;
    padding: 12px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
    text-decoration: none;
    text-transform: uppercase;
}

.buttonCATcaracteristicas:hover:not(:disabled) {
  background: linear-gradient(90deg,
  rgba(173, 136, 45, 1) 0%,
  rgba(193, 166, 90, 1) 12%,
  rgba(217, 195, 130, 1) 28%,
  rgba(200, 175, 98, 1) 50%,
  rgba(179, 144, 56, 1) 63%,
  rgba(170, 134, 46, 1) 100%
);
  transform: translateY(-1px);
  text-transform: uppercase;
}

.buttonNegro{
  border: 1px solid white;
  background: rgb(17,17,17);
  color: white;
}