
@font-face {
  font-family: 'nohemi';
  src: url('./assets/fonts/nohemi-regular-webfont.woff2') format('woff2');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}


h2{
  padding: 0px;
  margin: 10px 0;
  font-weight: 400;
}

p{
  margin-block-end: 0em;
  margin-block-start: 0em;
}

.App {
  text-align: center;
}


.beneficiosContainerHero{
    /* UNIVERSAL CSS GRID CENTERING - BULLETPROOF SOLUTION */
    display: grid;
    place-items: center;
    
    /* Full viewport coverage */
    width: 100%;
    height: 100vh;
    min-height: 600px;
    top: -60px;
    
    /* Background image handling */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Reset any potential margin/padding that could affect centering */
    margin: 0;
    padding: 0;
    
    /* Prevent overflow */
    overflow: hidden;
    
    /* Ensure consistent rendering */
    position: relative;
}

.contenidoBeneficiosItinerariosItinerariosHeroItinerario{
    /* Perfect centering that works in all scenarios */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* Content sizing */
    width: 100%;
    max-width: 1600px;
    padding: 20px;
    text-align: center;
    
    /* CRITICAL: Reset margins that could push content up */
    margin: 0 !important;
    
    /* Prevent content from growing beyond viewport */
    box-sizing: border-box;
    
    /* Ensure proper stacking */
    position: relative;
    z-index: 2;
    
    /* Content spacing */
    gap: 5px;
}

/* Override any child element margins that could affect centering */
.contenidoBeneficiosItinerariosItinerariosHeroItinerario * {
    margin-top: 0 !important;
}

/* Reset first child margin specifically */
.contenidoBeneficiosItinerariosItinerariosHeroItinerario > *:first-child {
    margin-top: 0 !important;
}

.subParrafoHero{
  width: calc(100% - 20%);
  max-width: 800px;
  margin: 20px auto 0;
  text-align: center;
}


.heroSectionSVG{
    position: relative;
    top: -100px;
    width: calc(100%);
    display: flex;
    justify-self: center;

}

.loading {
  text-align: center;
  padding: 40px;
  font-family: nohemi;
  color: #aaa;
  font-size: 16px;
}

.parrafoBeneficioHero{
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 1.2;

}

  .itinerariosImagenHero{
    position: relative;
    top: 100px;
    width: 280px;
    display: flex;
    justify-self: center;
  }

  .catHeroSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .catHeroSection button p{
    color: white;
  }

  .buttonHeroSectionImpact{
    padding: 6px 20px;
    border: none;
    background-color: rgb(206, 0, 0);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    width: 160px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
  }

    .buttonHeroSectionNonImpact{
    padding: 6px 20px;
    border: 1px solid white;
    background-color: rgb(255, 255, 255, 0.05);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    width: 160px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
  }

  .itinerarioCardStyleContainer{
    background-color: rgb(0,0,0,0.01);
    color: white;
    width: 180px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .stepsContainerStyleHero{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25vh;
  }

  @media (min-width: 380px){

    .beneficiosContainerHero{
      height: 100vh;
    }

    .itinerariosImagenHero{
      width: 350px;
    }

    .stepsContainerStyleHero{
    margin-top: 40vh;
    }

    .itinerarioCardStyleContainer{
      width: 245px;
    }
  }

    @media (min-width: 500px){
    
      .itinerariosImagenHero {
        width: 420px;
        top: 200px;
    }

      .itinerarioCardStyleContainer{
      width: 280px;
      justify-content: space-evenly;
    }


    }

    @media (min-width: 1000px) {

    .itinerariosImagenHero {
      width: 720px;
    }

    .stepsContainerStyleHero{
      margin-top: 40vh;
    } 

    .itinerarioCardStyleContainer {
        width: 250px;
        justify-content: space-evenly;
    }
}

    @media (min-width: 1500px) {

    .itinerariosImagenHero {
      width: 1020px;
    }

    .stepsContainerStyleHero{
      margin-top: 38vh;
    } 

    .itinerarioCardStyleContainer {
        width: 280px;
        justify-content: space-evenly;
    }
}


  .numeros {
    font-size: 32px;
    font-weight: 300;
  }


  .textos {
    font-size: 16px;
    margin-top: 8px;
    font-weight: 200;
  }