/* [project]/Desktop/Prestige-Japan-master/src/Componentes/Sections/Reutilizable/DownloadSection.module.css [app-client] (css) */
.DownloadSection-module__d2BLqq__sectionContainer {
  flex-flow: column wrap;
  align-content: center;
  margin-top: 20px;
  display: flex;
}

.DownloadSection-module__d2BLqq__headerWrap {
  text-align: center;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  display: flex;
}

.DownloadSection-module__d2BLqq__subtitle {
  color: #fff;
  justify-self: center;
  font-family: nohemi;
  font-size: 16px;
  font-weight: 400;
}

.DownloadSection-module__d2BLqq__contenedor {
  border: 2px solid #2d2d31;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;
  margin: 20px;
  padding: 20px;
  display: flex;
}

.DownloadSection-module__d2BLqq__divider {
  background-color: #fff;
  width: 90%;
  height: 1px;
  margin: 10px;
}

.DownloadSection-module__d2BLqq__image {
  aspect-ratio: 61 / 79;
  object-fit: cover;
  width: 180px;
  height: 235px;
  display: block;
}

.DownloadSection-module__d2BLqq__content {
  text-align: center;
  align-content: center;
  padding: 20px;
}

.DownloadSection-module__d2BLqq__headerGroup {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.DownloadSection-module__d2BLqq__title {
  color: #fff;
  text-transform: uppercase;
  font-family: nohemi;
  font-size: 20px;
  line-height: 1;
}

.DownloadSection-module__d2BLqq__tripInfo {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-family: nohemi;
  display: flex;
}

.DownloadSection-module__d2BLqq__tripTitle, .DownloadSection-module__d2BLqq__tripDuration {
  color: #fff;
  font-family: nohemi;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.DownloadSection-module__d2BLqq__button {
  color: #290f04;
  cursor: pointer;
  -webkit-backdrop-filter: blur(5.519px);
  backdrop-filter: blur(5.519px);
  background: linear-gradient(90deg, #d8aa3e 0%, #e8ca6e 12%, #f9e7a0 28%, #ecd37c 50%, #dfb44e 63%, #d9ab3e 100%);
  border: 1px solid #290f04;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 55px;
  padding: 15px 25px;
  transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
  display: inline-flex;
}

.DownloadSection-module__d2BLqq__button:hover {
  background: linear-gradient(90deg, #ad882d 0%, #c1a65a 12%, #d9c382 28%, #c8af62 50%, #b39038 63%, #aa862e 100%);
  transform: translateY(-1px);
}

.DownloadSection-module__d2BLqq__button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.DownloadSection-module__d2BLqq__icon {
  aspect-ratio: 1;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.DownloadSection-module__d2BLqq__buttonText {
  color: #290f04;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

@media (min-width: 550px) {
  .DownloadSection-module__d2BLqq__title {
    font-size: 28px;
  }

  .DownloadSection-module__d2BLqq__tripTitle, .DownloadSection-module__d2BLqq__tripDuration, .DownloadSection-module__d2BLqq__subtitle {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  .DownloadSection-module__d2BLqq__sectionContainer {
    margin-top: 80px;
  }
}

@media (min-width: 920px) {
  .DownloadSection-module__d2BLqq__subtitle {
    font-size: 24px;
  }
}

/*# sourceMappingURL=d79c4_src_Componentes_Sections_Reutilizable_DownloadSection_module_css_bad6b30c._.single.css.map*/