/* [project]/Desktop/Prestige-Japan-master/src/Componentes/Sections/MediaFeature/NosotrosListado.module.css [app-client] (css) */
.NosotrosListado-module__ZUzPLG__section {
  width: 100%;
}

.NosotrosListado-module__ZUzPLG__header {
  text-align: center;
  margin-bottom: 3rem;
  font-family: nohemi;
}

.NosotrosListado-module__ZUzPLG__title {
  color: #fff;
  font-family: nohemi;
  font-size: 1.5rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .NosotrosListado-module__ZUzPLG__title {
    font-size: 1.875rem;
  }
}

@media (min-width: 1024px) {
  .NosotrosListado-module__ZUzPLG__title {
    font-size: 2.25rem;
  }

  .NosotrosListado-module__ZUzPLG__header {
    margin-bottom: 5rem;
  }
}

.NosotrosListado-module__ZUzPLG__mobileTimeline {
  flex-direction: column;
  align-items: center;
  display: flex;
}

@media (min-width: 1024px) {
  .NosotrosListado-module__ZUzPLG__mobileTimeline {
    display: none;
  }
}

.NosotrosListado-module__ZUzPLG__mobileItem {
  margin-bottom: 2rem;
  padding-left: 2rem;
  position: relative;
}

.NosotrosListado-module__ZUzPLG__mobileDot {
  background: #fff;
  border-radius: 9999px;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.NosotrosListado-module__ZUzPLG__mobileLine {
  background: #fff;
  width: 2px;
  height: calc(100% - 1rem);
  position: absolute;
  top: 1rem;
  left: 7px;
}

.NosotrosListado-module__ZUzPLG__mobileYear {
  color: #fff;
  margin-bottom: .5rem;
  font-family: nohemi;
  font-size: 1.875rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .NosotrosListado-module__ZUzPLG__mobileYear {
    font-size: 2.25rem;
  }
}

.NosotrosListado-module__ZUzPLG__mobileDescripcion {
  color: #fff;
  font-family: nohemi;
  font-size: 1rem;
  line-height: 1.75;
}

@media (min-width: 768px) {
  .NosotrosListado-module__ZUzPLG__mobileDescripcion {
    font-size: 1.125rem;
  }
}

.NosotrosListado-module__ZUzPLG__mobileContent {
  max-width: 360px;
}

.NosotrosListado-module__ZUzPLG__desktopWrap {
  max-width: 1200px;
  margin: 0 auto;
  display: none;
  position: relative;
}

@media (min-width: 1024px) {
  .NosotrosListado-module__ZUzPLG__desktopWrap {
    display: block;
  }
}

.NosotrosListado-module__ZUzPLG__centerLine {
  background: #fff;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.NosotrosListado-module__ZUzPLG__desktopList {
  display: block;
}

.NosotrosListado-module__ZUzPLG__desktopItem {
  align-items: center;
  margin-bottom: 4rem;
  display: flex;
  position: relative;
}

.NosotrosListado-module__ZUzPLG__justifyEnd {
  justify-content: flex-end;
}

.NosotrosListado-module__ZUzPLG__justifyStart {
  justify-content: flex-start;
}

.NosotrosListado-module__ZUzPLG__desktopDot {
  z-index: 10;
  background: #fff;
  border-radius: 9999px;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.NosotrosListado-module__ZUzPLG__desktopContent {
  width: 420px;
}

.NosotrosListado-module__ZUzPLG__rightAligned {
  text-align: start;
  padding-right: 2rem;
}

.NosotrosListado-module__ZUzPLG__leftAligned {
  text-align: end;
  padding-left: 2rem;
}

.NosotrosListado-module__ZUzPLG__desktopYear {
  color: #fff;
  margin-bottom: 1rem;
  font-family: nohemi;
  font-size: 3rem;
  font-weight: 400;
}

@media (min-width: 1280px) {
  .NosotrosListado-module__ZUzPLG__desktopYear {
    font-size: 3.75rem;
  }
}

.NosotrosListado-module__ZUzPLG__desktopDesc {
  color: #fff;
  font-family: nohemi;
  font-size: 1.125rem;
  line-height: 1.75;
}

@media (min-width: 1280px) {
  .NosotrosListado-module__ZUzPLG__desktopDesc {
    font-size: 1.25rem;
  }
}

/*# sourceMappingURL=d79c4_src_Componentes_Sections_MediaFeature_NosotrosListado_module_baa1fbbf.css.map*/