/* [project]/Desktop/Prestige-Japan-master/src/Componentes/Sections/Itinerarios/PaquetesIncluyen.module.css [app-client] (css) */
.PaquetesIncluyen-module__dnmrmW__stepsContainerStyleItinerario {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  display: flex;
}

@media (min-width: 1420px) {
  .PaquetesIncluyen-module__dnmrmW__stepsContainerStyleItinerario {
    max-width: 1400px;
  }
}

.PaquetesIncluyen-module__dnmrmW__cardsContainerStyle {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
  padding: 15px;
  display: flex;
}

.PaquetesIncluyen-module__dnmrmW__contenidoCardsTexto {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: #0006;
  border-radius: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 85%;
  padding: 10px;
  display: flex;
  position: absolute;
  top: 55%;
  box-shadow: 0 4px 30px #0000001a;
}

.PaquetesIncluyen-module__dnmrmW__textoEstilo {
  color: #fff;
  font-family: nohemi;
  font-size: 16px;
  line-height: 1.2;
}

.PaquetesIncluyen-module__dnmrmW__cardStyle {
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 20px;
  padding: 20px;
  display: flex;
}

.PaquetesIncluyen-module__dnmrmW__sectionStyle {
  color: #fff;
  background-color: #111;
  place-self: center;
  padding: 30px 20px;
}

.PaquetesIncluyen-module__dnmrmW__cardImage {
  object-fit: cover;
  border-radius: 10px;
  width: 280px;
  height: 280px;
}

.PaquetesIncluyen-module__dnmrmW__headingStyle {
  text-align: center;
  color: #fff;
  font-family: nohemi;
  font-size: 24px;
}

@media (min-width: 340px) {
  .PaquetesIncluyen-module__dnmrmW__cardStyle {
    width: 320px;
    margin-bottom: 20px;
  }

  .PaquetesIncluyen-module__dnmrmW__cardImage {
    object-fit: cover;
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 380px) {
  .PaquetesIncluyen-module__dnmrmW__cardImage {
    object-fit: cover;
    width: 340px;
    height: 340px;
  }
}

.PaquetesIncluyen-module__dnmrmW__buttonCATcaracteristicas {
  color: #290f04;
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(90deg, #d8aa3e 0%, #e8ca6e 12%, #f9e7a0 28%, #ecd37c 50%, #dfb44e 63%, #d9ab3e 100%);
  border: none;
  border-radius: 5px;
  align-self: center;
  padding: 12px 15px;
  font-size: 14px;
  text-decoration: none;
}

.PaquetesIncluyen-module__dnmrmW__buttonCATcaracteristicas:hover:not(:disabled) {
  text-transform: uppercase;
  background: linear-gradient(90deg, #ad882d 0%, #c1a65a 12%, #d9c382 28%, #c8af62 50%, #b39038 63%, #aa862e 100%);
  transform: translateY(-1px);
}

.PaquetesIncluyen-module__dnmrmW__stepsContainerStyleItinerario {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
  display: flex;
}

@media (min-width: 600px) {
  .PaquetesIncluyen-module__dnmrmW__stepsContainerStyleItinerario {
    grid-template-columns: repeat(2, 1fr);
    place-items: start center;
    gap: 30px;
    display: grid;
  }
}

@media (min-width: 1200px) {
  .PaquetesIncluyen-module__dnmrmW__stepsContainerStyleItinerario {
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    display: flex;
  }
}

@media (min-width: 1420px) {
  .PaquetesIncluyen-module__dnmrmW__stepsContainerStyleItinerario {
    max-width: 1400px;
    margin: 60px auto 0;
  }
}

/*# sourceMappingURL=d79c4_src_Componentes_Sections_Itinerarios_PaquetesIncluyen_module_dc700a9d.css.map*/