/* [project]/Desktop/Prestige-Japan-master/src/Componentes/Sections/Itinerarios/BeneficiosItinerarios.module.css [app-client] (css) */
.BeneficiosItinerarios-module__sUVsgW__beneficiosContainer {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  width: 100%;
  height: 60vh;
  display: grid;
  position: relative;
  overflow: hidden;
}

.BeneficiosItinerarios-module__sUVsgW__nuestrosPaquetesTitle {
  color: #fff;
  text-align: center;
  font-family: nohemi;
  font-size: 20px;
}

.BeneficiosItinerarios-module__sUVsgW__buttonCATcaracteristicas {
  color: #290f04;
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(90deg, #d8aa3e 0%, #e8ca6e 12%, #f9e7a0 28%, #ecd37c 50%, #dfb44e 63%, #d9ab3e 100%);
  border: none;
  border-radius: 5px;
  align-self: center;
  margin: 0 2px;
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
}

@media (max-width: 500px) {
  .BeneficiosItinerarios-module__sUVsgW__cantidadDias {
    align-self: center;
  }
}

.BeneficiosItinerarios-module__sUVsgW__contenidoBeneficiosItinerariosItinerarios {
  background: #ffffff0d;
  border-radius: 16px;
  flex-direction: column;
  grid-area: 1 / 1;
  place-self: end center;
  align-items: center;
  gap: 5px;
  width: 80%;
  max-width: 380px;
  margin-bottom: 10vh;
  padding: 10px;
  display: flex;
}

.BeneficiosItinerarios-module__sUVsgW__beneficiosH2ySpan {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.BeneficiosItinerarios-module__sUVsgW__titlePlusSubtitle {
  text-transform: uppercase;
  text-align: center;
  justify-items: center;
  padding-bottom: 10px;
}

.BeneficiosItinerarios-module__sUVsgW__titlePlusSubtitle h2 {
  font-size: 28px;
}

.BeneficiosItinerarios-module__sUVsgW__beneficioImage {
  object-fit: cover;
  z-index: 0;
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
}

.BeneficiosItinerarios-module__sUVsgW__reverseClassText {
  text-align: center;
  flex-flow: column wrap;
  align-content: center;
  display: flex;
}

.BeneficiosItinerarios-module__sUVsgW__textoBeneficiosResponsive {
  font-size: 14px;
}

@media (max-width: 419.9px) {
  .BeneficiosItinerarios-module__sUVsgW__reverseClassText {
    text-align: center;
    align-content: center;
  }

  .BeneficiosItinerarios-module__sUVsgW__cantidadDias {
    text-align: center;
    align-content: center;
    align-self: center;
  }

  .BeneficiosItinerarios-module__sUVsgW__buttonCATcaracteristicas {
    text-align: center;
  }
}

@media (min-width: 420px) {
  .BeneficiosItinerarios-module__sUVsgW__contenidoBeneficiosItinerariosItinerarios {
    justify-self: end;
    width: 300px;
    margin-bottom: 8vh;
    margin-right: 10%;
    padding: 15px;
  }

  .BeneficiosItinerarios-module__sUVsgW__buttonCATcaracteristicas {
    font-size: 14px;
  }

  .BeneficiosItinerarios-module__sUVsgW__textoBeneficiosResponsive {
    font-size: 16px;
  }
}

@media only screen and (min-width: 720px) {
  .BeneficiosItinerarios-module__sUVsgW__beneficiosContainer {
    height: 60vh;
  }

  .BeneficiosItinerarios-module__sUVsgW__textoBeneficiosResponsive {
    font-size: 18px;
  }

  .BeneficiosItinerarios-module__sUVsgW__contenidoBeneficiosItinerariosItinerarios {
    place-self: center end;
    width: 350px;
    margin-bottom: 0;
    margin-right: 5%;
    padding: 20px;
  }

  .BeneficiosItinerarios-module__sUVsgW__leftItinerario {
    place-self: center start;
    align-items: center;
    margin-left: 5%;
    margin-right: 0;
  }
}

@media only screen and (min-width: 920px) {
  .BeneficiosItinerarios-module__sUVsgW__beneficiosContainer {
    height: 75vh;
    max-height: 75vh;
  }

  .BeneficiosItinerarios-module__sUVsgW__contenidoBeneficiosItinerariosItinerarios {
    justify-self: end;
    width: 400px;
    margin-right: 8%;
  }

  .BeneficiosItinerarios-module__sUVsgW__leftItinerario {
    justify-self: start;
    margin-left: 8%;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1220px) {
  .BeneficiosItinerarios-module__sUVsgW__contenidoBeneficiosItinerariosItinerarios {
    justify-self: end;
    width: 420px;
    margin-right: 12%;
  }

  .BeneficiosItinerarios-module__sUVsgW__leftItinerario {
    justify-self: start;
    margin-left: 12%;
    margin-right: 0;
  }
}

.BeneficiosItinerarios-module__sUVsgW__buttonNegro {
  color: #fff;
  background: #111;
  border: 1px solid #fff;
}

/*# sourceMappingURL=d79c4_src_Componentes_Sections_Itinerarios_BeneficiosItinerarios_module_1a7bb2a2.css.map*/