/* [project]/Desktop/Prestige-Japan-master/src/pages/Contacto/Componente/RedesSociales.module.css [app-client] (css) */
.RedesSociales-module__Z_dLBa__sectionContenedor {
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  display: flex;
}

.RedesSociales-module__Z_dLBa__letrasDoradasDesktop {
  display: none;
}

.RedesSociales-module__Z_dLBa__textWhiteSmall {
  color: #fff;
  text-align: center;
  font-family: nohemi;
  font-size: 12px;
}

.RedesSociales-module__Z_dLBa__flexColumnGap15 {
  flex-direction: column;
  gap: 15px;
  padding-bottom: 10px;
  display: flex;
}

.RedesSociales-module__Z_dLBa__flexColumnGap20, .RedesSociales-module__Z_dLBa__flexColumnGap15, .RedesSociales-module__Z_dLBa__PremiumJapanFooterLogo {
  padding: 15px;
}

@media only screen and (min-width: 360px) {
  .RedesSociales-module__Z_dLBa__subtituloResponsive {
    display: none;
  }

  .RedesSociales-module__Z_dLBa__redesSocialesContainer {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    display: flex;
  }

  .RedesSociales-module__Z_dLBa__iconsFooter {
    width: 40px;
  }
}

@media only screen and (min-width: 550px) {
  .RedesSociales-module__Z_dLBa__textWhiteSmall {
    font-size: 14px;
  }

  .RedesSociales-module__Z_dLBa__iconsFooter {
    width: 45px;
  }

  .RedesSociales-module__Z_dLBa__flexColumnGap20, .RedesSociales-module__Z_dLBa__flexColumnGap15 {
    min-width: 350px;
  }
}

@media (min-width: 800px) {
  .RedesSociales-module__Z_dLBa__flexColumnGap20, .RedesSociales-module__Z_dLBa__flexColumnGap15 {
    width: 350px;
  }

  .RedesSociales-module__Z_dLBa__sectionContenedor {
    gap: 20px;
    padding: 40px;
  }
}

@media (min-width: 920px) {
  .RedesSociales-module__Z_dLBa__letrasDoradasDesktop {
    align-self: center;
    width: 520px;
    height: auto;
    margin-bottom: 15px;
  }
}

@media (min-width: 1020px) {
  .RedesSociales-module__Z_dLBa__containerFooterStyle {
    flex-flow: column wrap;
    justify-content: space-between;
    max-width: 1600px;
    margin-top: 40px;
    display: flex;
  }

  .RedesSociales-module__Z_dLBa__flexColumnGap20, .RedesSociales-module__Z_dLBa__flexColumnGap15 {
    min-width: 420px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1550px) {
  .RedesSociales-module__Z_dLBa__PremiumJapanFooterLogo {
    min-width: 1000px;
  }

  .RedesSociales-module__Z_dLBa__flexColumnGap15, .RedesSociales-module__Z_dLBa__flexColumnGap20 {
    padding: 0;
  }
}

.RedesSociales-module__Z_dLBa__titleWhite {
  color: #fff;
  align-self: center;
  font-family: nohemi;
  font-size: 16px;
}

.RedesSociales-module__Z_dLBa__redesSocialesContainer {
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5px;
  display: flex;
}

.RedesSociales-module__Z_dLBa__rowStart {
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  display: flex;
}

.RedesSociales-module__Z_dLBa__iconsFooter {
  width: 40px;
  height: auto;
  margin: 0 5px;
  display: flex;
}

.RedesSociales-module__Z_dLBa__iconsContacto {
  width: 30px;
  height: auto;
  margin: 0 10px;
  display: flex;
}

.RedesSociales-module__Z_dLBa__optionalContainer {
  flex-direction: column;
  align-items: flex-start;
  min-width: 50px;
  display: flex;
}

@media (min-width: 400px) {
  .RedesSociales-module__Z_dLBa__optionalContainer {
    flex-direction: column;
    align-items: center;
    min-width: 180px;
    display: flex;
  }
}

.RedesSociales-module__Z_dLBa__contenedorMsg {
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  display: flex;
}

.RedesSociales-module__Z_dLBa__elementosDisplay {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.RedesSociales-module__Z_dLBa__letrasDoradasResponsive {
  height: 60px;
}

@media (min-width: 500px) {
  .RedesSociales-module__Z_dLBa__contenedorMsg {
    gap: 20px;
  }
}

@media (min-width: 550px) {
  .RedesSociales-module__Z_dLBa__letrasDoradasResponsive {
    height: 80px;
  }
}

@media (min-width: 839.99px) {
  .RedesSociales-module__Z_dLBa__optionalContainer {
    min-width: 120px;
  }

  .RedesSociales-module__Z_dLBa__letrasDoradasResponsive {
    height: 90px;
  }
}

@media (min-width: 1400px) {
  .RedesSociales-module__Z_dLBa__letrasDoradasDesktop {
    height: 45px;
  }
}

@media (min-width: 1600px) {
  .RedesSociales-module__Z_dLBa__letrasDoradasResponsive {
    display: none;
  }

  .RedesSociales-module__Z_dLBa__letrasDoradasDesktop {
    align-self: center;
    width: auto;
    height: 35px;
    margin-bottom: 15px;
    display: block;
  }
}

@media (min-width: 1620px) {
  .RedesSociales-module__Z_dLBa__letrasDoradasDesktop {
    height: 60px;
  }
}

/*# sourceMappingURL=d79c4_src_pages_Contacto_Componente_RedesSociales_module_css_bad6b30c._.single.css.map*/