/* [project]/Desktop/Prestige-Japan-master/src/Componentes/Sections/Itinerarios/ItinerariosHero.module.css [app-client] (css) */
.ItinerariosHero-module__y2gzRW__numeros {
  font-size: 32px;
  font-weight: 300;
}

.ItinerariosHero-module__y2gzRW__textos {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 200;
}

.ItinerariosHero-module__y2gzRW__beneficiosContainerHero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  place-items: center;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  margin: 0;
  padding: 0;
  display: grid;
  position: relative;
  top: -60px;
  overflow: hidden;
}

.ItinerariosHero-module__y2gzRW__contenidoBeneficiosItinerarios {
  text-align: center;
  box-sizing: border-box;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  max-width: 1600px;
  padding: 20px;
  display: flex;
  position: relative;
  margin: 0 !important;
}

.ItinerariosHero-module__y2gzRW__contenidoBeneficiosItinerarios *, .ItinerariosHero-module__y2gzRW__contenidoBeneficiosItinerarios > :first-child {
  margin-top: 0 !important;
}

.ItinerariosHero-module__y2gzRW__itinerarioCardStyleContainer {
  color: #fef0ad;
  text-align: center;
  background-color: #00000003;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 100px;
  display: flex;
}

.ItinerariosHero-module__y2gzRW__itinerarioCardStyleContainer p {
  color: #fff;
}

.ItinerariosHero-module__y2gzRW__itinerariosImagenHero {
  place-self: center;
  width: 280px;
  height: 100px;
  display: flex;
}

.ItinerariosHero-module__y2gzRW__stepsContainerStyleHero {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

@media (min-width: 380px) {
  .ItinerariosHero-module__y2gzRW__itinerarioCardStyleContainer {
    width: 245px;
  }

  .ItinerariosHero-module__y2gzRW__itinerariosImagenHero {
    width: 350px;
  }
}

@media (min-width: 500px) {
  .ItinerariosHero-module__y2gzRW__itinerarioCardStyleContainer {
    justify-content: space-evenly;
    width: 280px;
  }

  .ItinerariosHero-module__y2gzRW__itinerariosImagenHero {
    width: 420px;
  }
}

@media (min-width: 1000px) {
  .ItinerariosHero-module__y2gzRW__itinerarioCardStyleContainer {
    justify-content: space-evenly;
    width: 250px;
  }

  .ItinerariosHero-module__y2gzRW__itinerariosImagenHero {
    width: 720px;
  }
}

@media (min-width: 1500px) {
  .ItinerariosHero-module__y2gzRW__itinerarioCardStyleContainer {
    justify-content: space-evenly;
    width: 280px;
  }

  .ItinerariosHero-module__y2gzRW__itinerariosImagenHero {
    width: 1020px;
  }
}

.ItinerariosHero-module__y2gzRW__stepsContainerStyleHero {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  display: flex;
}

@media (min-width: 600px) {
  .ItinerariosHero-module__y2gzRW__stepsContainerStyleHero {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
    display: grid;
  }
}

@media (min-width: 1200px) {
  .ItinerariosHero-module__y2gzRW__stepsContainerStyleHero {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    display: flex;
  }
}

/*# sourceMappingURL=d79c4_src_Componentes_Sections_Itinerarios_ItinerariosHero_module_3f87f446.css.map*/