/* [project]/Desktop/Prestige-Japan-master/src/Componentes/Sections/Home/Testimonios.module.css [app-client] (css) */
.Testimonios-module__uP9Y_a__containerTestimonios {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 60px;
  display: flex;
}

.Testimonios-module__uP9Y_a__testimoniosTitle {
  color: #fff;
  text-align: center;
  place-items: center;
  padding: 20px;
  font-size: 24px;
}

.Testimonios-module__uP9Y_a__testimoniosDescription {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  display: flex;
}

.Testimonios-module__uP9Y_a__bottomPanel {
  text-align: start;
  color: #fff;
  box-sizing: border-box;
  cursor: none;
  border-radius: 10px;
  place-self: center;
  align-items: center;
  min-width: 276px;
  max-width: 400px;
  margin: 0 10px 20px;
  padding: 15px;
  display: flex;
}

.Testimonios-module__uP9Y_a__logoJapon {
  width: 80px;
  height: 35px;
}

.Testimonios-module__uP9Y_a__panelContent {
  opacity: 0;
  flex-direction: column;
  animation: .3s ease-out forwards Testimonios-module__uP9Y_a__fadeInUp;
  display: flex;
  transform: translateY(10px);
}

@keyframes Testimonios-module__uP9Y_a__fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Testimonios-module__uP9Y_a__panelImage {
  object-fit: cover;
  border-radius: 20px;
}

.Testimonios-module__uP9Y_a__panelText {
  color: #fff;
  text-align: center;
  background-color: #111;
  border: 1px solid #fef0ad;
  border-radius: 10px;
  margin-top: -60px;
}

.Testimonios-module__uP9Y_a__panelName {
  margin: 10px;
  font-family: nohemi;
  font-size: 14px;
}

.Testimonios-module__uP9Y_a__panelQuote {
  margin: 0;
  padding: 10px;
  font-family: nohemi;
  font-size: 14px;
  line-height: 1.2;
}

.Testimonios-module__uP9Y_a__testimonioEstrellas {
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-bottom: 10px;
  display: flex;
}

.Testimonios-module__uP9Y_a__starIcon {
  width: 26px;
  height: 26px;
}

@media (max-width: 330px) {
  .Testimonios-module__uP9Y_a__panelText {
    grid-area: 7 / 1 / 12 / 11;
  }

  .Testimonios-module__uP9Y_a__panelImage {
    height: 280px;
  }
}

@media (max-width: 720px) {
  .Testimonios-module__uP9Y_a__panelImage {
    height: 330px;
  }
}

.Testimonios-module__uP9Y_a__selected {
  border-radius: 10px;
  outline: 2px solid #ffd166;
}

.Testimonios-module__uP9Y_a__columnas {
  grid-template-columns: 1fr;
  display: grid;
}

@media (min-width: 768px) {
  .Testimonios-module__uP9Y_a__columnas {
    grid-template-columns: 1fr 1fr;
  }

  .Testimonios-module__uP9Y_a__testimoniosDescription {
    flex-direction: column;
    display: flex;
  }
}

/* [project]/Desktop/Prestige-Japan-master/src/Componentes/UI/Cards/TestimonioCard.module.css [app-client] (css) */
.TestimonioCard-module__cZlfcW__selected {
  border-radius: 10px;
  outline: 2px solid #ffd166;
}

.TestimonioCard-module__cZlfcW__containerTestimonio, .TestimonioCard-module__cZlfcW__containerTestimonio.TestimonioCard-module__cZlfcW__visible {
  opacity: 1;
  transform: none;
}

.TestimonioCard-module__cZlfcW__imageContainerTestimonio {
  border-radius: 10%;
  width: 70px;
  height: 70px;
  margin-right: 0;
  overflow: hidden;
}

.TestimonioCard-module__cZlfcW__imagenEstiloTestimonio {
  width: 90px;
  height: auto;
}

.TestimonioCard-module__cZlfcW__sectionTestimonios {
  flex-direction: column;
  align-content: center;
  display: flex;
}

.TestimonioCard-module__cZlfcW__containerTestimonio {
  text-align: start;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #fef0ad;
  border-radius: 10px;
  align-self: auto;
  align-items: center;
  min-width: 276px;
  max-width: 400px;
  margin: 0 5px 10px;
  padding: 15px;
  display: flex;
}

.TestimonioCard-module__cZlfcW__contendorTestimonioTextos {
  flex-direction: column;
  display: flex;
}

.TestimonioCard-module__cZlfcW__nombresTestimonios {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: nohemi;
  font-size: 14px;
}

.TestimonioCard-module__cZlfcW__textosTestimonio {
  width: 190px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: nohemi;
  font-size: 14px;
}

.TestimonioCard-module__cZlfcW__testimonioEstrellas {
  justify-content: center;
  gap: 5px;
  display: flex;
}

@media (min-width: 720px) {
  .TestimonioCard-module__cZlfcW__imageContainerTestimonio {
    width: 90px;
    height: 90px;
    margin-right: 20px;
  }
}

/*# sourceMappingURL=Desktop_Prestige-Japan-master_src_Componentes_811b4ac3._.css.map*/