.CaminoDeKumano-module__-3v5ia__loading{text-align:center;color:#aaa;padding:40px;font-family:nohemi;font-size:16px}.CaminoDeKumano-module__-3v5ia__stepsContainerStyle{flex-wrap:wrap;justify-content:center;margin-top:40px;display:flex}
