/*
.cardContainer {
  display: flex;
  width: 100%;
  min-height: 85vh;
  box-sizing: border-box; 
  overflow: hidden; 
  align-items: stretch;
}

.cardContainer.reverse {
  flex-direction: row-reverse;
}

.cardText {
    flex: 1; 
    color: white;
    padding: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    text-align: left; 
}

.cardContenidoStyle{
  width: 80%;
  align-self: center;
}

.cardContainerh2{
  font-size: 24px;
  line-height: 1.2;
  font-family: 'nohemi';
  text-align: left;
  margin: 0;
}
.cardContainerP{
  font-family: 'nohemi';
  font-size: 14px;
  line-height: 1.2;
}

.cardText button {
  background: #482215;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cardText button:hover {
    background-color: #f40612; 
}

.cardImage {
  flex: 1; 
  position: relative; 
  overflow: hidden;
}

.cardImage img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block;
}


@media (max-width: 768px) {
    .cardContainer,
    .cardContainer.reverse {
        flex-direction: column-reverse;
        min-height: 75vh; 
    }

    .cardText {
        padding: 30px 20px; 
        align-items: center;
        text-align: center;
    }

    .cardText p {
        font-size: 1em; 
    }

    .cardImage {
        height: 300px;
    }
}

@media (min-width: 768.01px){
    .cardText {
        padding: 0; 
    }
}

@media (min-width: 920px) {

    .cardContenidoStyle{
    width: 50%;
    align-self: center;
    }

}

@media (min-width: 1020px) {

    .cardContenidoStyle{
    width: 60%;
    }

}

*/

.card_container {
  display: flex;
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  overflow: hidden; /* Hide any overflow, especially if images are larger */
  align-items: stretch; /* Make children stretch to fill the height */
}



.card_container.reverse {
  flex-direction: row-reverse;
}

.card_text {
    flex: 1; /* Allows this div to grow and shrink, taking up remaining space */
    color: white;
    padding: 30px; /* Adjust padding as needed */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: flex-start; /* Align text to the start (left) */
    text-align: left; /* Ensure text is left-aligned */
}

.cardContenidoStyle{
  width: 90%;
  align-self: center;
}

.cardContainerh2{
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.2;
  font-family: 'nohemi';
  text-align: left;
}
.cardContainerP{
  font-family: 'nohemi';
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 1.2;
}

.card_text button {
  background: #482215;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card_text button:hover {
    background-color: #f40612; /* Slightly darker on hover */
}

.card_image {
  flex: 1; /* Allows this div to grow and shrink, taking up remaining space */
  position: relative; /* Needed for absolute positioning of the image if you want more control */
  overflow: hidden;
}

.card_image img {
    width: 100%; /* Make the image fill the width of its container */
    height: 100%; /* Make the image fill the height of its container */
    object-fit: cover; /* **This is crucial!** It ensures the image covers the area without distortion, cropping as necessary */
    display: block; 
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .card_container,
    .card_container.reverse {
        flex-direction: column-reverse; /* Stack items vertically on smaller screens */
        min-height: auto; /* Reset min-height for stacked layout */
        max-width: 600px;
        justify-self: center;
    }

    .card_text {
        padding: 30px 20px; /* Adjust padding for smaller screens */
        align-items: center; /* Center text content on smaller screens */
        text-align: center; /* Center align text */
    }

    .card_text p {
        font-size: 1em; /* Smaller font size for paragraphs */
    }

    .card_image {
        height: 300px; /* Give the image a fixed height on mobile if preferred */
    }
}