.containerStyle{
  border: 2px solid #EAC577;
  border-radius: 20px;
  text-align: center;
  color: white;
  margin: 20px 20px;
  padding: 30px;
}

.titleStyle{
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: nohemi;
}

.descriptionStyle{
    font-size: 14px;
    color: #C5C5C5;
    line-height: 1.2;
    font-family: nohemi;
    justify-self: center;
}

.numberContainer{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleContainer{
    width: 250px;
}

.paragraphContainer{
    width: 250px;
}
