/* Removed animations to prevent viewport pulling */

.selected{
  /* Simple selection styling without animations */
  outline: 2px solid #ffd166;
  border-radius: 10px;
}

.containerTestimonio {
  /* Always visible - no animations or transforms */
  opacity: 1;
  transform: none;
}

.containerTestimonio.visible {
  /* Always visible - no special animation state needed */
  opacity: 1;
  transform: none;
}


.imageContainerTestimonio{
    border-radius: 10%;
    overflow: hidden;
    width: 70px;
    height: 70px;
    margin-right: 0px;
}

.imagenEstiloTestimonio{
    width: 90px;
    height: auto;
}

.sectionTestimonios{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.containerTestimonio{
    text-align: start;
    color: white;
    display: flex;
    align-items: center;
    align-self: auto;
    min-width: 276px;
    max-width: 400px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #fef0ad;
    padding: 15px;
    border-radius: 10px;
    margin: 0 5px 10px 5px;
}

.contendorTestimonioTextos{
    display: flex;
    flex-direction: column;
}

.nombresTestimonios{
    font-family: nohemi;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    align-self: center;
}

.textosTestimonio{
    font-family: nohemi;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 190px;
    padding-left: 10px;
}

.testimonioEstrellas{
    display: flex;
    justify-content: center;
    gap: 5px;
}

@media(min-width: 720px){
    .imageContainerTestimonio{
        margin-right: 20px;
        width: 90px;
        height: 90px;
    }
}