.loading {
  text-align: center;
  padding: 40px;
  font-family: nohemi;
  color: #aaa;
  font-size: 16px;
}


.stepsContainerStyle{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

