/*!***************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/Componentes/Sections/Reutilizable/detallesNoContiene.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************/
.detallesNoContiene_containerStyle__cx0Vs{
    text-align: center;
    color: white;
    padding: 20px;
    width: 220px;
    gap: 20px;
}

.detallesNoContiene_iconStyle__udQ3c{
    width: 45px;
    height: 45px;
}

.detallesNoContiene_titleStyle__T70o5{
    font-size: 18px;
    color: #C5C5C5;
    line-height: 1.2;
    font-family: nohemi;
    justify-self: center;
}
