/*!****************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/Componentes/Sections/Reutilizable/ItinerariosTemplate.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************/
.ItinerariosTemplate_sectionContenedor__Y9utW{
  padding:10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ItinerariosTemplate_diaStyle__qoOXQ{
  font-family: nohemi;
  text-transform: uppercase;
}

.ItinerariosTemplate_mainContainer__2toaf{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.ItinerariosTemplate_textoDivider__RGzX2{
  font-family: nohemi;
  font-size: 24px;
  color: white;
}

.ItinerariosTemplate_contenidoDividerCard__AovtW{
    width: 70%;
    height: 2px;
    background-color:  #FEF0AD;
    display: flex;
}

.ItinerariosTemplate_titleContenidoDividerDos__yZ_3C{
      width: 70%;
      height: 1px;
      background-color:  white;
      display: flex;
}

.ItinerariosTemplate_cardContainer__icHkG {
  display: flex;
  width: 100%;
  min-height: 140vh;
  box-sizing: border-box; 
  overflow: hidden; 
  align-items: stretch;
}

.ItinerariosTemplate_buttonCATcaracteristicas__OMj84{
    background: #D8AA3E;
    background: linear-gradient(90deg,rgba(216, 170, 62, 1) 0%, rgba(232, 202, 110, 1) 12%, rgba(249, 231, 160, 1) 28%, rgba(236, 211, 124, 1) 50%, rgba(223, 180, 78, 1) 63%, rgba(217, 171, 62, 1) 100%);
    color: #290f04;
    border: 1px solid #290f04;
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: nohemi;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
    text-decoration: none;
    justify-self: center;
    text-align: center;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    min-width: 160px;
    box-shadow: 0 4px 15px rgba(72 34 21, 0.3);
    text-transform: uppercase;
}

.ItinerariosTemplate_buttonCATcaracteristicas__OMj84:hover {
  background: linear-gradient(90deg,
  rgba(173, 136, 45, 1) 0%,
  rgba(193, 166, 90, 1) 12%,
  rgba(217, 195, 130, 1) 28%,
  rgba(200, 175, 98, 1) 50%,
  rgba(179, 144, 56, 1) 63%,
  rgba(170, 134, 46, 1) 100%
);
    transform: translateY(-2px);
    text-transform: uppercase;
}


.ItinerariosTemplate_contendorAdicional___If0i{
  display: flex;
}

.ItinerariosTemplate_cardContainer__icHkG.ItinerariosTemplate_reverse__TB_9N {
  flex-direction: row-reverse;
}

.ItinerariosTemplate_diaPlusImage__7mfv_{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-bottom: 20px;
    width: 100%;
}

.ItinerariosTemplate_numerosImg__V1POL{
    height:50px;
    padding-left: 5px;
}

.ItinerariosTemplate_cardText__IHDgb {
    flex: 1 1; 
    color: white;
    padding: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    text-align: left; 
}

.ItinerariosTemplate_floatingButton__Cxab5{
  display: none;
}

.ItinerariosTemplate_floatingText__iCPOI{
  color: #FEF0AD;
  font-family: nohemi;
  text-transform: uppercase;
  font-size: 14px;
}

.ItinerariosTemplate_cardContenidoStyle__uNEFG{
  width: 80%;
  align-self: center;
  border: 2px solid #FEF0AD;
  padding: 20px;
  border-radius: 20px;
}

.ItinerariosTemplate_cardContainerh2__X5m6p{
  font-size: 24px;
  line-height: 1.2;
  font-family: nohemi;
  text-align: left;
  margin: 0;
}
.ItinerariosTemplate_cardContainerP__N4wyl{
  font-family: nohemi;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 1.2;
  margin-top: 10px;
}

.ItinerariosTemplate_cardText__IHDgb button {
  background: #482215;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.ItinerariosTemplate_cardText__IHDgb button:hover {
    background-color: #f40612; 
}

.ItinerariosTemplate_cardImage__SX6NE {
  flex: 1 1; 
  position: relative; 
  overflow: hidden;
}

.ItinerariosTemplate_cardImage__SX6NE img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block;
    border-radius: 20px;
}

@media(min-width: 440px){
  
  .ItinerariosTemplate_numerosImg__V1POL{
      height:70px;
  }

  .ItinerariosTemplate_diaStyle__qoOXQ{
    font-size: 22px;
  }

}

@media(min-width: 640px){

  .ItinerariosTemplate_mainContainer__2toaf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }

  .ItinerariosTemplate_titleContenidoDividerUno__6qu6b{
    width: 20%;
    height: 1px;
    background-color:  white;
    display: flex;
  }

  .ItinerariosTemplate_titleContenidoDividerDos__yZ_3C{
  width: 20%;
  height: 1px;
  background-color:  white;
  display: flex;
  }

  .ItinerariosTemplate_mainContainer__2toaf h2{
    padding: 10px;
  }

  .ItinerariosTemplate_numerosImg__V1POL{
      height:80px;
  }


}


@media (max-width: 768px) {
    .ItinerariosTemplate_cardContainer__icHkG,
    .ItinerariosTemplate_cardContainer__icHkG.ItinerariosTemplate_reverse__TB_9N {
        flex-direction: column-reverse;
        min-height: 65vh;
        align-items: center;
        justify-self: center;
        width: 90%;
    }

    .ItinerariosTemplate_cardText__IHDgb {
        padding: 30px 20px; 
        align-items: center;
        text-align: center;
    }

    .ItinerariosTemplate_cardText__IHDgb p {
        font-size: 1em; 
    }

    .ItinerariosTemplate_cardImage__SX6NE {
        height: 300px;
        padding: 5px;
    }

}

@media (min-width: 769px) {

    .ItinerariosTemplate_cardContenidoStyle__uNEFG{
      width: 80%;
      align-self: center;
    }

    .ItinerariosTemplate_cardContainer__icHkG{
        justify-self: center;
        width: 90%;
        min-height: 45vh;
        margin-bottom: 20px;
        gap: 60px;
    }

    .ItinerariosTemplate_floatingButton__Cxab5{
      display: flex;
      position: absolute;
      bottom: 0px;
      background-color: rgb(0, 0, 0, 0.55);
      right: 0px;
      width: auto;
      min-width: 90px;
      height: 30px;
      align-content: center;
      padding: 10px;
      border-radius: 10px 10px 20px 0px;
      align-items: center;
    }

    .ItinerariosTemplate_floatingText__iCPOI{
      color: #FEF0AD;
      font-family: nohemi;
      text-transform: uppercase;
      font-size: 14px;
    }

}

@media (min-width: 1020px) {

    .ItinerariosTemplate_cardContenidoStyle__uNEFG{
    width: 60%;
    }

    .ItinerariosTemplate_diaStyle__qoOXQ{
    font-size: 26px;
  }

}

@media (min-width: 1200px){

    .ItinerariosTemplate_cardContainer__icHkG{
      width: 90%;
      max-width: 1120px;
      margin-bottom: 0;
      gap: 80px;
    }

    .ItinerariosTemplate_cardText__IHDgb{
      padding: 0;
    }

    .ItinerariosTemplate_cardContenidoStyle__uNEFG{
       width: 420px;
    }


    .ItinerariosTemplate_mainContainer__2toaf{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ItinerariosTemplate_titleContenidoDivider__ehLFk{
      width: 300px;
      height: 1px;
      background-color:  white;
      margin: 0  20px;
    }

}


@media (min-width: 1800px){

    .ItinerariosTemplate_cardContainer__icHkG{
      width: 90%;
      max-width: 2000px;
      margin-bottom: 0;
      gap: 80px;
    }
}
