.page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}


.card {
    width: 300px;
    max-width: 94vw;
    border-radius: 26px;
    border: 2px solid #2b2d31;
    padding: 10px;
    color: #fff;
    margin-bottom: 40px;
}

.title {
      font-size: 24px;
      font-weight: 700;
      font-family: nohemi;
      justify-self: center;
    }

.grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px 36px;
      padding: 6px 6px 22px;
      min-height: 320px;
    }

.cell {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
    }

.label {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.1;
      text-transform: uppercase;
      letter-spacing: .4px;
      font-family: nohemi;
    }

.sublabel {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.1;
      text-transform: uppercase;
      letter-spacing: .4px;
      font-family: nohemi;
}

.priceUnit {
      margin-top: 8px;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: .3px;
      color: #e6e6e6;
      text-align: center;
      font-family: nohemi;
    }

.ctaWrap {
      display: flex;
      justify-content: center;
      margin-top: 8px;
    }

.cta {
      appearance: none;
      border: none;
      outline: none;
      cursor: pointer;
      background: #e31712;
      color: #fff;
      padding: 14px 26px;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 800;
      font-family: nohemi;
      transform: translateY(0);
      transition: transform .05s ease, box-shadow .05s ease;
    }

    @media (min-width: 640px) {
      .card {
        width: 340px;
        margin-right: 20px;
      }

    .page{
        margin-top: 140px;
    }

    }
