.containerStyle{
    text-align: center;
    color: white;
    padding: 20px;
    width: 220px;
    gap: 20px;
}

.iconStyle{
    width: 45px;
    height: 45px;
}

.titleStyle{
    font-size: 18px;
    color: #C5C5C5;
    line-height: 1.2;
    font-family: nohemi;
    justify-self: center;
}