.sectionContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 20px;
}

.headerWrap{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 40px;
    text-align: center;
}


.subtitle{
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: nohemi;
  justify-self: center;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #2D2D31;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    max-width: 500px;
}

.divider{
  height: 1px;
  width: 90%;
  background-color: white;
  margin:10px;
}

.image {
    width: 180px;
    height: 235px;
    aspect-ratio: 61 / 79;
    object-fit: cover;
    display: block;
}

.content {
  padding: 20px;
  text-align: center;
  align-content: center;
}

.headerGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}


.title {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  font-family: nohemi;
}


.tripInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; /* ~ gap-2.5 */
  font-family: nohemi;
}

.tripTitle, .tripDuration {
  color: #ffffff;
  font-size: 18px; 
  font-weight: 500; 
  line-height: 1.2;
  font-family: nohemi;
}


.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 55px;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg,rgba(216, 170, 62, 1) 0%, rgba(232, 202, 110, 1) 12%, rgba(249, 231, 160, 1) 28%, rgba(236, 211, 124, 1) 50%, rgba(223, 180, 78, 1) 63%, rgba(217, 171, 62, 1) 100%);
  color: #290f04;
  border: 1px solid #290f04;
  cursor: pointer;
  transition: background-color 150ms ease-in-out, opacity 150ms ease-in-out;
  -webkit-backdrop-filter: blur(5.519px);
  backdrop-filter: blur(5.519px);
}

.button:hover {
  background: linear-gradient(90deg,
  rgba(173, 136, 45, 1) 0%,
  rgba(193, 166, 90, 1) 12%,
  rgba(217, 195, 130, 1) 28%,
  rgba(200, 175, 98, 1) 50%,
  rgba(179, 144, 56, 1) 63%,
  rgba(170, 134, 46, 1) 100%
);
  transform: translateY(-1px);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon {
  width: 24px;
  height: 24px;
  aspect-ratio: 1 / 1;
  display: inline-block;
}

.buttonText {
  color: #290f04;
  font-size: 20px; /* text-xl */
  font-weight: 400; /* semibold */
  line-height: 1;
}

@media (min-width: 550px) {

    .title {
        font-size: 28px;
    }

    .tripTitle, .tripDuration {
    font-size: 20px; 
    }

    .subtitle{
      font-size: 20px;
    }
}
@media (min-width: 769px){

  .sectionContainer{
    margin-top: 80px;
  }
  
}


@media (min-width: 920px){

  .subtitle{
      font-size: 24px;
  }


}