

.iconsFooter{
    display: flex;
    width: 20px;
    height: auto;
    margin: 0 10px;
}

.optionalContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subtituloResponsive{
    display: flex;
    font-size: 14px;
    color: white;
}


@media only screen and (max-width: 340px){

    .iconsFooter{
        display: none;
    }
}


@media only screen and (min-width: 340px){

    .subtituloResponsive{
        display: none;
    }

}


.containerFooterStyle{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 40px;
    gap: 20px;
    flex-direction: column;
}


@media only screen and (min-width: 610px) {
    
    .containerFooterStyle{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    flex-direction: row;
    }


}

.prestigeJapanFooterLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}




@media only screen and (min-width: 830px){

    .prestigeJapanFooterLogo{
        display: none;
    }
}

@media only screen and (min-width: 1052px){

    .prestigeJapanFooterLogo{
        display: flex;
    }
}

/* === Existing Responsive Styles (KEEP) === */

.iconsFooter {
  display: flex;
  width: 20px;
  height: auto;
  margin: 0 10px;
}

.optionalContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subtituloResponsive {
  display: flex;
  font-size: 14px;
  color: white;
}

@media only screen and (max-width: 340px) {
  .iconsFooter {
    display: none;
  }
}

@media only screen and (min-width: 340px) {
  .subtituloResponsive {
    display: none;
  }
}

.containerFooterStyle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  padding-bottom: 40px;
  gap: 20px;
  flex-direction: column;
}

@media only screen and (min-width: 610px) {
  .containerFooterStyle {
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    flex-direction: row;
  }
}

.prestigeJapanFooterLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

@media only screen and (min-width: 830px) {
  .prestigeJapanFooterLogo {
    display: none;
  }
}

@media only screen and (min-width: 1052px) {
  .prestigeJapanFooterLogo {
    display: flex;
  }
}


/* === New Reusable Classes === */

.sectionFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
  align-items: center;
}

.flexColumnGap15 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.flexColumnGap20 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rowStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rowStartGap10 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

/* Typography */
.titleWhite {
  font-family: HelveticaRegular;
  font-size: 16px;
  color: white;
}

.subtitle {
  font-family: HelveticaRegular;
}

.textWhiteSmall {
  color: white;
  font-family: HelveticaLight;
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

/* Footer Logo */
.prestigeJapanFooterLogo img {
  width: 220px;
  height: auto;
}

/* Subfooter */
.subFooter {
  height: auto;
  border-top: 1px solid #fff;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  gap: 10px;
  margin-bottom: 40px;
}

.subFooterText {
  font-family: HelveticaRegular;
  font-size: 16px;
  color: #fff;
  align-self: center;
}

.subFooterBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
