.buttonCATcaracteristicas{
    background: #D8AA3E;
    background: linear-gradient(90deg,rgba(216, 170, 62, 1) 0%, rgba(232, 202, 110, 1) 12%, rgba(249, 231, 160, 1) 28%, rgba(236, 211, 124, 1) 50%, rgba(223, 180, 78, 1) 63%, rgba(217, 171, 62, 1) 100%);
    color: #290f04;
    font-weight: 400;
    font-family: nohemi;
    border: none;
    padding: 12px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
    text-decoration: none;
    text-transform: uppercase;
}

.buttonCATcaracteristicas:hover:not(:disabled) {
  background: linear-gradient(90deg,
  rgba(173, 136, 45, 1) 0%,
  rgba(193, 166, 90, 1) 12%,
  rgba(217, 195, 130, 1) 28%,
  rgba(200, 175, 98, 1) 50%,
  rgba(179, 144, 56, 1) 63%,
  rgba(170, 134, 46, 1) 100%
);
  transform: translateY(-1px);
  text-transform: uppercase;
}

.beneficiosContainerHero{
  display: flex;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  background-size: cover;
  align-items: center;
  background-position: 50% center;
  position: relative;
  top: -60px;
}

.contenidoBeneficiosHero{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    top: 75%;
    gap: 5px;
    max-width: 600px;
}

.titlePlusSubtitleHero{
  padding-bottom: 10px;
  align-self: center;
}

    .loading {
        text-align: center;
        padding: 40px;
        font-family: nohemi;
        color: #aaa;
        font-size: 16px;
    }

  .styleTitle{
    font-family: nohemi;
    font-size: 20px;
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
  }

  .contenedorSubTitle{
    width: 280px;
    place-self: center;
    margin-top: 10px;
    text-align: center;
  }

  .textStyle{
    font-family: nohemi;
    font-size: 16px;
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  h2.textStyle{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p.textStyle{
    font-family: nohemi;
    font-size: 12px;
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }


@font-face {
  font-family: 'nohemi';
  src: url('/assets/fonts/nohemi-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@media (min-width: 640px){

    .contenidoBeneficiosHero{
      width: 420px;
      max-width: 480px;
    }

    .contenedorSubTitle{
      width: 380px;
    }

}

@media (min-width: 1000px){

  h2.textStyle{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .contenidoBeneficiosHero{
    width: 600px;
    max-width: 640px;
  }

  .contenedorSubTitle{
    width: 600px;
  }
  

}